.drugs-main-container{
    width: 100%;
}
.drugs-container{
    margin: 20px;
    margin-top: 40px;
    width: 96%;
    /* width: calc(100% - 100px); */
    margin-left: 4%;
}

.drugs_btn_container{
    display: flex;
    justify-content: space-between;
}

.otcdrugs{
    background: #009999;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    outline: none;
    box-shadow: rgba(25,25,25,.04) 0 0 1px 0,rgba(0,0,0,.1) 0 3px 4px 0;
    margin-right: 10px;
}

.prescribed{
    background: #3399cc;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    outline: none;
    box-shadow: rgba(25,25,25,.04) 0 0 1px 0,rgba(0,0,0,.1) 0 3px 4px 0;
    margin-right: 10px;
}

.card{
    margin-right: 5px;
}
.main-drug-history{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(25,25,25,.04) 0 0 1px 0,rgba(0,0,0,.1) 0 3px 4px 0;
    padding: 20px;
}

.main-drug-content{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.drug-titles p{
    color: #8b8b8b;
    font-size: 20px;
    padding-bottom: 10px;
}

.drugs-item p{
    font-size: 20px;
    padding-bottom: 10px;
    color: #464646;
}

.drug-amount{
    color: #61cd88;
}

.status-container{
    margin-left: 125px;
}

.status{
    color: #fdc43b;
}
.drug-btn-payment{
    background-color: #f8343d;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    width: 50%;
    align-self: center;
    text-align: center;
    margin-top: 10px;
}

.upload-prescribe{
    padding-bottom: 15px;
}

.upload-prescr-btn{
    background-color: #61cd88;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    width: 50%;
    align-self: center;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
}

/* DRUGS HISTORY STYLING */



.drugs-order-history h2{
text-align: center;
color: #0d2344;
margin-bottom: 15px;
}

.drugs-order-history{

    width: 98% !important;
}

.drugs-hisory-container{
    background-color: #fff;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 80px;
    margin-left: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem,1fr));
    gap: 1rem;
    margin: 20px;
    margin-top: 30px;
    margin-bottom: 100px;
}

.drug-histor-title p{
    padding-bottom: 15px;
    font-size: 15px;
    font-weight: bold;
    color: #0d2344;
}

.drug-history-values p{
    padding-bottom: 15px;
    font-size: 15px;
    font-weight: bold;
    color: #5e5e5e;
}

.drug-history-values{
   margin-left: 20px;
}

.drugs-status{
    color: #dcc610;
}

.price-drugs{
    color:#5dc683 !important;
}

.drug-his-btn{
    background: #caebe7;
    color: #168171;
    padding: 8px;
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer;
}

.two-column{
  width: 98%;
}

.single-drug-history{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
}

.his-container-cont-drug{
    /* display: grid;
    grid-template-columns: 33% 33% 33%;	 */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33%,1fr));
    gap: 1rem;
    margin: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.a-head{
   padding-right: 20px;
  
}

.order-contain{
  margin-top: 10px;
}

.qty{
background: #168171;
color: #fff;
width: 25px;
height: 25px;
border-radius: 50%;
padding: 5px;
 display: flex;
 align-items: center;
 text-align: center;
 justify-content: center;
}

.drug-n{
    font-size: 14px;
    padding-bottom: 5px;
}

.pending{
    color: #f9df06;
}

.danger{
    color: red;
}

.success{
    color: #53c8ab;
}

.drugs-container{
    height: 100%;
    overflow-y: scroll;
}

@media(max-width:569px){
    .his-container-cont-drug{
        display: flex;
        flex-direction: column;
    }
    .drugs-hisory-container{
        margin-left: 5px;
    }
    .two-column{
        width: 100%;
      }

    .drugs-order-history{
        width: 100% !important;

    }
}