.changepassword-container{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

.changepassword-container h2{
    padding-bottom: 20px;
}
.change{
    margin-bottom: 10px !important;
}

.change-btn-password{
    background-color: #16a085 !important;
}