.chart-cantaner{
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 93%;
    height: auto;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    margin-top: 50px;
    margin-left: 25px;
    margin-bottom: 100px;
    overflow-y: scroll;
    height: 100%;
}

.chat-msg-user{
    background: #e6e4de;
    border-radius: 10px 20px 5px;
    padding: 20px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.chat-msg-doc{
    background: #b3e8c6;
    border-radius: 20px 5px 10px;
    padding: 20px;
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 40px;
}

.chat-text{
    width: 85%;
    height: 50px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    margin-left: 40px;
}

.input-chat-conatiner{
    display: flex;
    align-items: center;
    
}

.upload-icon{
    font-size: 45px;
    color: #fff;
    margin-left: 5px;
    cursor: pointer !important;
    background: #61cd88;;
    padding: 5px;
    border-radius: 4px;
}

.file-upload-file{
    display: none;
    visibility: none;
}

.input-chat-conatiner{
    margin-top: 20px;
    margin-bottom: 70px;
}

.dr-chat-detail{
    color: #232423;
    font-size: 18px;
}

.dr-chat-detail span{
    color: #61cd88;
}

.msg-img{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    /* object-fit: contain;  */
}

.upload-image-attachment{
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-top: -10px;
    /* background-color: red; */
}

.img_upload_user{
    width: 50%;
    border-radius: 4px;
    height: 50px;
    margin-left: 40px;
}

.loader-img-file{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
}