.about-us-container{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us-container h2{
    font-size: 28px;
    font-weight: bold;
    color: #0d2344;
}

.about-us-container p{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    font-size: 25px;
    color: #002344cc;
}

.about-us-content-section{
    display: flex;
   margin-top: 50px;
   width: 80%;
}

.about-text{
    font-size: 25px;
    color: #002344cc;
}
.about-text h4{
    font-size: 30px;
    margin-bottom: 10px;
    color: #0d2344;
}

.about-img img{
    width: 400px;
    height: 250px;
    margin-left: 25px;
    border-radius: 10px;
}

/* TERMS AND PRIVACY PAGE */
.terms-and-privacy-container{
    margin-top: 150px;
    height: 100%;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    color: #0d2344;
    margin-bottom: 100px;
}

.terms-and-privacy-container h2{
    text-align: center;
}

.terms-and-privacy-container p{
    font-size: 20px;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.contact-us {
    margin-bottom: 30px;
}

.contact-us h3{
    line-height: 30px;
}

.contact-us h1{
    margin-top: 20px;
    margin-bottom: 10px;
}