.about-us-doc-container{
    margin-top: 110px;
    /* margin-right: auto;
    margin-left: auto; */
    width: 100%;
    text-align: center;
    height: 100vh;
    background-color: #fff;
    padding-top: 50px;
    max-height: 100vh;
}


.about-us-doc-container h4{
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
    font-weight: bold;
}

.about-us-doc-container p{
    font-size: 25px;
    line-height: 30px;
    justify-content: center;
    width: 95%;
    margin-right:auto;
    margin-left: auto;
    margin-bottom: 100px;
    color: #595959;
}