.ambulanc-heading{
    margin: 20px;
    margin-top: 50px;
}
.ambulance .ambulance-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem,1fr));
    gap: 2rem;
    margin: 20px;
    margin-bottom: -50px;
}

.amblance-history-container{
    margin-left: 30px;
}

.ambulance .ambulance-container .ambulance-box{
    text-align: center;
    background:#16a085;
    border-radius: .5rem;
    border:var(--border);
    box-shadow: var(--box-shadow);
    padding:2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.number{
    background: #61CD88;
    padding: 25px;
    height: 50px;
    width: 50px;
    color: #fff;
    font-weight: bold;
    border-radius: 25px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    margin-right: 20px;
    margin-left: 30px;
}

.ambulance-box p{
    color: #E7E7E7;
    padding-top: 10px;
    font-size: 20px;
} 

/* MODAL STYLING */
.ReactModal__Overlay {
    opacity: 0.2;
    transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0.5;
    transition: opacity 1000ms ease-in-out;
}

.Modal {
    position: absolute;
    top: 100px;
    left: 280px;
    right: 40px;
    /* bottom: 30px; */
    width: 50%;
    height: 75%;
    overflow-y: auto;
    background-color: #fff;
    box-shadow: rgba(25,25,25,.04) 0 0 1px 0,rgba(0,0,0,.1) 0 3px 4px 0;
    z-index: 100;
    border-radius: 5px;
  }

  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .header-top{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
      margin-bottom: 40px;
  }


  .close-btn{
      font-size: 20px;
      margin-left: 90px;
      cursor: pointer;
      color: #16a085;
  }

  .amulance-form-row{
      margin: 20px;
  }

  .ambulance-input{
      margin-top: 20px;
  }

  /* INPUT STYLING */
.ambulance-input button{
    background-color: #66cc99;
    color: #fff;
    padding: 10px;
    font-weight: 600;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.his-container-cont{
    display: grid;
    grid-template-columns: 32% 32% 32%;	
  
}

.single-ambulance{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 10px;
}

.single-ambulance p{
    font-size: 13px;
}

.a-head{
    font-weight: bold;
    font-size: 15px !important;
}

.divider{
    background: grey;
    width: 100%;
    height: 10px;
}

.loader-img{
  display: block;
  margin-left: 500px !important;
  margin-right: auto !important;
}

.booked-container-ambulance{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

p{
    padding: 0 !important;
    margin: 0 !important;
}

.ambulance{
    height: 100%;
    overflow-y: auto;
    
}