
.referral-wallet-container{
    margin: 40px;
}

.balance-container{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    margin-top: 30px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
}

.amount-wallet-container{
    padding: 20px;
    background: #78b9ce;
    width: 200px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(252,176,69,1) 0%, rgba(97,205,136,1) 47%);
}

.amount-wallet-container h2{
    color: #fff;
    padding-bottom: 18px;
}

.balance-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.amount-wallet-container p{
    color: #353434;
    font-weight: 700;
}
.balance-container button{
    background: #61cd88;
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}

.serach-container-wallet{
    margin-top: 30px;
    margin-bottom: 20px;
}

.pay-wallet-container{
    margin-top: 20px;
    width: 400px;
}

.pay-wallet-container button{
    background-color: #61cd88;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    width: 100%;
    cursor: pointer;
}