a{
  text-decoration: none !important;
}


/* width */
::-webkit-scrollbar {
  width: 20px;
}



/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #61cd88;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #16a085 !important;
  border-radius: 10px;
  height: 300px;
}
